<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Problema</title>
</head>
<body>
    <h1>Editar Problema</h1>
    <form action="{{ url_for('editar_eliminar', id=data[0]) }}" method="post">
        <input type="hidden" name="id" value="{{ data[0] }}">
        <label for="problema">Problema:</label>
        <textarea id="problema" name="problema" rows="4" cols="50" required>{{ data[1] }}</textarea>
        <br>
        <label for="solucion">Solución:</label>
        <textarea id="solucion" name="solucion" rows="4" cols="50" required>{{ data[2] }}</textarea>
        <br>

        <input type="submit" value="Guardar">
    </form>
    <a href="{{ url_for('index') }}">Regresar al menú principal</a>

    
</body>
</html>
