<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glosario</title>
</head>
<body>
    <h1>Glosario de problemas</h1>

    <form action="{{ url_for('buscar') }}" method="post">
        <input type="text" name="termino_busqueda" placeholder="Buscar problema...">
        <input type="submit" value="Buscar">
    </form>

    <h2>Problemas</h2>
    <ul>
    {% for row in data %}
        <li>{{ row[1] }}</li>
        <a href="{{ url_for('eliminar_problema', id=row[0]) }}">Editar o eliminar problema</a>
        <a href="{{ url_for('agregar_problema') }}">Agregar problema</a>
    {% endfor %}
    </ul>
    
    
</body>
</html>
