<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Glosario</title>
</head>
<body>
    <h1>Glosario de problemas</h1>

    <form action="{{ url_for('buscar') }}" method="post">
        <input type="text" name="termino_busqueda" placeholder="Buscar problema...">
        <input type="submit" value="Buscar">
    </form>
    <a href="{{ url_for('mostrar_agregar_problema') }}">Agregar problema</a>

    <h2>Problemas</h2>
    <ul>
        {% for row in data %}
            <li>
                {{ row[1] }} 
                <button class="reveal-solution">Mostrar solución</button>
                <div class="solution" style="display:none;">{{ row[2] }}</div>
                <a href="{{ url_for('editar_eliminar', id=row[0]) }}">Editar problema</a>
                <a href="{{ url_for('eliminar_problema', id=row[0]) }}">Eliminar problema</a>
            </li>
        {% endfor %}
        </ul>    
    
    <a href="{{ url_for('index') }}">Regresar al menú principal</a>
    
</body>
</html>
